<%@slices = movies.each_slice(4).to_a%>
            <%@slices.each do |slice|%>
                <div class="row">
                <%slice.each do |movie|%>
                  <div class="col-md-3 portfolio-item">
                    <a href='/movies/<%=movie["id"]%>'>
                        <img class="img-rounded img-responsive img-border-bottom photo" src="http://image.tmdb.org/t/p/w154/<%=movie['poster_path']%>"/>
                    </a>
                    <h5 class="tool-title">
                      <a href='#'><%=movie["title"]%></a><br>
                    </h5>
                    <p><%=movie["release_date"]%></p>
                  </div>
                <%end%>
                </div>
            <%end%>
          </div>