$('#result').html("<%=j render partial:'movie'%>");

$('#raty').raty({
    path:"/assets",
    hints: ['Very Bad', 'Poor', 'Average', 'Good', 'Excellent'],
    click: function(score, evt) {
        var email = $('#user_email').val();
        if (!email){
          alert("Please input an email!");
          return false;
        }
        $.ajax({
          url: '/reviews/',
          type: 'POST',
          data: { "review":
                  {
                    "rating": score,
                    "imdbID":'<%=@imdb_id%>',
                    "user_email":email
                  } 
                }, 
          success:function(data){
              alert("Rated!");
              console.log(data);
          }
        });//end of ajax
    }//end of click
});

