<% content_for :title, "Home" %>
<div class="container ">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
            <h1>Popular Movies (<%=@movies.size%>)</h1>

            <ul class="nav nav-pills">
                <li role="presentation">
                   <%=button_to 'All Popular','/' ,class:"btn btn-default",method: :get%>
                </li>
                <li role="presentation">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort By Title <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class='show-loading'><%= link_to "A-Z", :controller => "movies", :action => "index", :sort_by => "title",:order=>"asc" ,remote:true%></li>
                            <li class='show-loading'><%= link_to "Z-A", :controller => "movies", :action => "index", :sort_by => "title",:order=>"dec",remote:true%></li>
                        </ul>
                    </div>
                </li>
                <li role="presentation">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort By Release Date <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class='show-loading'><%= link_to "Earlier!", :controller => "movies", :action => "index", :sort_by => "release_date",:order=>"asc" ,remote:true%></li>
                            <li class='show-loading'><%= link_to "Later", :controller => "movies", :action => "index", :sort_by => "release_date",:order=>"dec",remote:true %></li>
                        </ul>
                    </div>
                </li>
                <li role="presentation">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort Genre <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <%@genres.each do |genre|%>
                            <li class='show-loading'><%= link_to genre["name"], :controller => "movies", :action => "index", :sort_by => "genre",:order=>genre["name"] ,remote:true%></a></li>
                            <%end%>
                        </ul>
                    </div>
                </li>
                
                    <%= form_tag('/movies/', method: "get") do %>
                        <li>
                            <div class="input-group">
                            <%= text_field_tag(:title,nil,class:"form-control") %>
                            <span class="input-group-btn show-loading">
                                <%= submit_tag("Search",class:'btn btn-default') %>
                            </span>
                        </div>
                    </li>
                    <% end %>
            </ul>
          <hr>

            <div id='movies'>
              <%=render partial:"movies",locals:{movies:@movies}%>
            </div>

         <div class="col-lg-1 col-md-1"></div>
    </div>
    <div class='row'>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 " id = 'result'></div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>
<script type="text/javascript">
$(".show-loading > a").click(function(){
    show_loading_body();
});
$(".show-loading > input").click(function(){
    show_loading_body();
});

</script>
