<% content_for :title, @movie["title"] %>

<div class="container">
    <div class="row">

        <div class="jumbotron" style="background-color:rgba(142,68,173,0.05)">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-rounded img-responsive img-border-bottom photo" src="http://image.tmdb.org/t/p/w154/<%=@movie['poster_path']%>"/>
                </div>
                <div class="col-md-8">
                <h1><%=@movie["title"]%></h1>
                <h3><%=@movie["tagline"]%></h3>
                  <%if @movie["genres"]%>
                    <p>
                     Genres:
                     <%@movie["genres"].each do |genre|%>
                      <span class ="label label-default"><%=genre["name"]%></span>
                      <%end%>
                    </p>
                    <%end%>
                    <p>Release :<%=@movie["release_date"]%></p>
                    <p>Runtime :<%=@movie["runtime"]%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Overview</h3>
          <p><%=@movie["overview"]%></p>

          <h3>Average PoopCorn Time Review (<%=@reviews.size%> reviews)</h3>
          <div id='average_review'></div>

          <h3>Add your review</h3>
            <div class="form-group">
              <%=label_tag 'Your email* (Required)'%>
              <%=email_field_tag :user_email,nil,class:"form-control"%>
            </div>
            <div id="raty"></div>
            <div id='comment-form'></div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h2>Reviews</h2>
            <div id='reviews'>
						  <%=render @reviews%>
            </div>
					
          </div>
					</div>
				</div>

				<script type="text/javascript">

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}
$('.raty').each(function(){

    var tid = $(this).attr('ref'); 
    var score  = $(this).attr('score-helper');
    console.log(tid);
    $(this).raty({
          path:"/assets",
          target : tid ,
          readOnly:  true,
          score:score,
          number:     10,
          showHalf:  true
    }); 
}); 


    $('#average_review').raty({
          path:"/assets",
          readOnly:  true,
          score: <%=Review.get_average_for_movie(@movie["id"])%>,
          number:     10,
          showHalf:  true
    });


$('#raty').raty({
    path:"/assets",
      number:     10,
    click: function(score, evt) {

        var email = $('#user_email').val();
        if (!IsEmail(email)){
          alert("Please input a valid email!");
          return false;
        }

        $.ajax({
          url: '/reviews/',
          type: 'POST',
          data: { "review":
                  {
                    "rating": score,
                    "movie_id":'<%=@movie["id"]%>',
                    "movie_title":'<%=@movie["title"]%>',
                    "user_email":email
                  } 
                }, 
          success:function(data){
              alert("Congrats! Successfully Rated!");
              console.log(data);
          }
        });//end of ajax
    }//end of click
});



</script>