<%=form_for review, remote:true do |f|%>
	<div class="form-group">
		<%=f.label "Add a comment to this review (OPTIONAL)"%>
		<%=f.text_area :comment,class:"form-control"%>
	</div>
	<%=f.hidden_field :imdbID,value:@imdb_id%>
	<div class="form-group">
		<%=f.submit "Add Comment", class:'btn btn-primary'%>
		<a href='#' id='skip'>Skip</a>
	</div>
<%end%>
<script type="text/javascript">

$('#skip').click(function(){


$('#reviews').prepend('<%=j render partial:"reviews/review",locals:{review:review}%>');

$('#raty-<%=review.id%>').raty({
          path:"/assets",
          readOnly:  true,
          score:<%=@review.rating%>,
          number:     10,
          showHalf:  true
}); 

alert('OK! We have add your rating without comment');
return false;
});
</script>