<%if review.movie_title%>
 <p>I give <a href='/movies/<%=review.movie_id%>'><%=review.movie_title%></a><p>
<%end%>
<div class='raty'  ref='#raty-<%=review.id%>' score-helper="<%=review.rating%>"></div>
<div id='raty-<%=review.id%>'></div>
by <%=review.user_email.split('@')[0]%>
<%= time_ago_in_words(review.updated_at) %> ago
<br>
<%if review.comment%>
<p>Becasue:</p>
<p><%=review.comment%></p>
<%end%>

<br><br>