<% content_for :title, "All Reviews" %>
<div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
          <%=render @reviews%>
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
</div>

<script type="text/javascript">
$('.raty').each(function(){

    var tid = $(this).attr('ref'); 
    var score  = $(this).attr('score-helper');
    console.log(tid);
    $(this).raty({
          path:"/assets",
          target : tid ,
          readOnly:  true,
          score:score,
          number:     10,
          showHalf:  true
    }); 
}); 

</script>