alert('Your comment has been added!');
$('#reviews').prepend('<%=j render partial:"reviews/review",locals:{review:@review}%>');

$('#raty-<%=@review.id%>').raty({
          path:"/assets",
          readOnly:  true,
          score:<%=@review.rating%>,
          number:     10,
          showHalf:  true
}); 