<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a href="../" class="navbar-brand">Poopcorn Time <span class="label label-default">nightly</span> 
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
             <li><a href="/"> Home </a> </li>
             <li><a href="/reviews"> <i class="fa fa-book"></i>Read All Reviews</a> </li>
           </ul>
        </div>
      </div>
    </div>
