<!DOCTYPE html>
<html>
<head>
  <title>Poopcorn Time | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style='padding-top:100px;'>
 <%=render 'layouts/navbar'%>

<%= yield %>
<div class="loading-container"></div>

     <div id="push" style="height: 60px;"></div><!--for sticky footer-->  
     <hr>
     <div class='footer'>
      <p>copyright 2015 | yunrui zhang</p>
    </div>
  </div>
</body>
</html>
